.auth {
    padding-block: 60px;
    padding-bottom: 0;
    max-width: 358px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  