.footer {
  width: calc(100% - 400px);
  padding-top: 66px;
  padding-bottom: 60px;
}
@media screen and (max-width:1152px) {
  .footer {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width:1024px) {
  .footer {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width:768px) {
  .footer {
    width: calc(100% - 38px);
    padding: 48px 0 36px 19px;
  }
}
