.popup-form__field {
  border: 0;
  position: relative;
  width: calc(100% - 36px*2);
  align-self: center;
}

.popup-form__field:first-of-type {
  margin-bottom: 30px;
}
.popup-form__field:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .popup-form__field {
    width: calc(100% - 22px*2);
  }
}
@media screen and (max-width:768px) {
  .popup-form__field:last-of-type {
    margin-bottom: 45px;
  }
}
