.profile__image {
  background-size: cover;
  height: 120px;
  width:120px;
  border-radius:120px;
  object-fit: contain;

}

@media screen and (max-width:768px){
  .profile__image {
    align-self: center;
  }
}
