.header {
  width: calc(100% - 400px);
  padding-top: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}
@media screen and (max-width:1152px) {
  .header{
    width: calc(100% - 200px);
  }
}
@media screen and (max-width:1024px) {
  .header{
    width: calc(100% - 100px);
    padding-bottom: 35px;
  }
}
@media screen and (max-width:768px) {
  .header{
    width: calc(100% - 54px);
    padding-bottom: 31px;
  }
}
@media screen and (max-width:425px) {
  .header{
    padding-top: 28px;
    width: 100%;
  }
}
